__pycache__/
*.py[cod]
.venv/
.env
*.db

frontend/node_modules/
dist/
.env.local
.env.*.local
*.log

.ipynb_checkpoints/
output/
output-*/
models/
reports/
*.joblib
*.pkl

**/metropt+3+dataset/
**/*.zip